<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="server=160.153.162.24;user=dusan;password=12345;database=WHTool;port=3306;AllowPublicKeyRetrieval = true; SslMode = none" />
  </connectionStrings>
</configuration>